<div class="hero is-primary is-bold">
  <div class="hero-body">
    <div class="container">
      <h1 class="title is-2">Protocolors</h1>
      <h2 class="subtitle is-4">Colorscheme Generator for Fast Prototyping</h2>
    </div>
  </div>
</div>
<section class="section">
  <div class="container">
    <div class="columns">
      <div class="column"><b>Lorem ipsum</b> dolor sit amet, consectetur adipisicing elit. Accusamus expedita iste maiores nisi
        quis! Accusantium assumenda atque eaque eos expedita in incidunt modi perspiciatis reiciendis repellat temporibus,
        totam ullam, unde vitae voluptatibus! Amet animi, architecto culpa dolorem dolores eius, eveniet expedita magni
        odio provident quidem quisquam, quos suscipit tenetur voluptatibus.
      </div>
      <div class="column"><b>Lorem ipsum</b> Amet architecto assumenda at blanditiis consectetur consequatur eius eos error, esse est et ex
        fugiat fugit harum, ipsum itaque laboriosam laborum laudantium magnam maiores modi, molestiae neque nihil pariatur
        perspiciatis quas quasi qui quidem quod repellendus sapiente sequi similique sunt totam vero vitae voluptatibus.
        Accusantium atque cum hic quam veniam?
      </div>
      <div class="column"><b>Lorem ipsum</b> Aperiam autem consectetur corporis cum delectus deserunt dignissimos doloremque enim esse fugit
        ipsa laboriosam laborum, libero non odio omnis porro, possimus qui saepe sequi suscipit totam, veniam
        voluptatibus? Animi cupiditate ducimus nulla sunt tempora. Accusamus ad consequuntur debitis expedita harum in,
        incidunt laborum magni necessitatibus nemo nihil quasi rerum saepe.
      </div>
    </div>
  </div>
</section>
