.overlay
  width: 100vw
  height: 100vh
  position: fixed
  top: 0
  left: 0
  background-color: #0006
  z-index: 10

div.color-preview
  border-radius: 50%
  height: 20vh
  width: 20vh
  margin: 2rem auto
  box-shadow: inset #0007 0 0 1rem 0.5rem, #0009 0.5rem 0.5rem 1rem
  border: 0.5vh solid #fff

div.is-fixed-centered
  position: absolute
  left: 50%
  top: 50%
  transform: translate(-50%, -50%)

