<section class="section">
  <div class="container">
    <div class="columns is-centered">
      <div class="column is-one-third">
        <div class="box">
          <div class="field">
            <div class="columns">
              <div class="column">
                <div class="control">
                  <input type="text" class="input" readonly [value]="color" (click)="togglePicker($event)"/>
                </div>
              </div>
              <div class="column" [class.is-one-fifth]="isOpened"  [class.is-narrow]="!isOpened">
                <!--<div class="overlay" (mousedown)="closePicker()">-->
                  <div #preview class="color-preview" (mousedown)="$event.stopPropagation();" [style.background-color]="color"></div>
                  <div class="is-relative">
                    <div [@enlarge]="isOpened?'enlarged':'small'" class="colorPicker">
                      <color-sketch width="20rem" (mousedown)="$event.stopPropagation();" disableAlpha="true" [color]="color" (onChange)="change($event)"></color-sketch>
                    </div>
                  </div>
                <!--</div>-->
              </div>
            </div>
            <p class="help">enter / choose your primary color</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

