.overlay
  width: 100vw
  height: 100vh
  position: fixed
  top: 0
  left: 0
  background-color: #0006
  z-index: 10

div.color-preview
  border-radius: 50%
  height: 2.5rem
  width: 2.5rem
  box-shadow: inset #0009 0 0 0.25rem 0.1rem, #0009 0.125rem 0.125rem 0.25rem
  border: 0.15rem solid #fff
  z-index: 6
  position: relative
  margin: 0 auto

.is-relative
  position: relative

div.colorPicker
  position: absolute
  margin: 0 auto
  z-index: 5

div.colorPickerWrapper
  width: 1px
  margin: 0 auto
