<section class="section">
  <div class="container">
    <div class="box">
      <h2 class="title is-2 has-text-centered">Grab Your Color-Scheme</h2>
      <div class="columns">
        <div class="column">
          <h3 class="subtitle is-4 has-text-centered">Basics</h3>
          <app-output-color title="Light Primary Color" color="#ee2244"></app-output-color>
          <app-output-color title="Primary Color" color="#aa0033"></app-output-color>
          <app-output-color title="Dark Primary Color" color="#6c0022"></app-output-color>
        </div>
        <div class="column">
          <h3 class="subtitle is-4 has-text-centered">Secondary/Accent</h3>
          <app-output-color title="Complementary Color" color="#aaf"></app-output-color>
          <app-output-color title="Complementary Color" color="#afa"></app-output-color>
          <app-output-color title="Complementary Color" color="#faa"></app-output-color>
        </div>
      </div>
    </div>
  </div>
</section>
