<section class="section">
  <div class="container">
    <div class="box">
      <h2 class="title is-2 has-text-centered">Grab Your Color-Scheme</h2>
      <div class="columns">
        <div class="column">
          <h3 class="subtitle is-4 has-text-centered">Basics</h3>
          <app-output-color colorIdentifier="primaryLightest" title="Primary Lightest"></app-output-color>
          <app-output-color colorIdentifier="primaryLighter" title="Primary Lighter"></app-output-color>
          <app-output-color colorIdentifier="primaryLight" title="Primary Light"></app-output-color>
          <app-output-color colorIdentifier="primary" title="Primary"></app-output-color>
          <app-output-color colorIdentifier="primaryDark" title="Primary Dark"></app-output-color>
          <app-output-color colorIdentifier="primaryDarker" title="Primary Darker"></app-output-color>
          <app-output-color colorIdentifier="primaryDarkest" title="Primary Darkest"></app-output-color>
          <app-output-color colorIdentifier="offWhite" title="Off White"></app-output-color>
          <app-output-color colorIdentifier="offGray" title="Off Gray"></app-output-color>
          <app-output-color colorIdentifier="offGray" title="Off Gray"></app-output-color>

        </div>
        <div class="column">
          <h3 class="subtitle is-4 has-text-centered">Secondary/Accent</h3>
          <app-output-color title="Complementary Color" colorIdentifier="complementary"></app-output-color>
        </div>
      </div>
    </div>
  </div>
</section>
